<%= form_for @category do |f| %>
<% if @category.errors.any? %>
<h3>These errors prohibited the form from being saved:</h3>
<ul>
	<%@category.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
<% end %>
</ul>

<label for=category_name > Name:</label><br/>
<%= f.text_field :name %><br/>
<label for=category_description>Descroption:</label><br/>
<%= f.text_area :description %><br/>
<%= f.submit %>
<% end %>