<h2><%= @category.name %></h2>
<% if (user_signed_in?) && (can? [:update, :destroy],  @category) %>
<%= link_to "edit", edit_category_path(@category.id) %> | <%= link_to "delete", category_path(@category.id), method: :delete, data: {confirm: "Are you sure"} %>
<% end %>
<p><%= @category.description %></p>
<%list = Article.where("category_id = ?", @category.id) %>
<% list.each do |element| %>
<li><%= link_to element.title, article_path(element) %></li>
<% end %>
<% if (user_signed_in?) && (can? :create, Article.new) %>
	<%= link_to "Add Article", new_article_path %>
<% end %>